<h1 id="gallery-page">Video Game Gallery</h1>
  <div style ="margin: 5px; padding:5px; border: 2px solid grey; 
    width: 100%" >
    <h2>Title</h2>
    <input  placeholder="title" type="text" name="Title" 
      id="title" [(ngModel)]='title'>
    <h2>Synopsis:</h2>
    <textarea id="desc" name="synopsis" rows="4" 
      cols="50" [(ngModel)]='desc'></textarea>
    <div style = "text-align: right;">
      <button id = "add-title" style ="margin: 2px;" (click)="doUpdate(-1)">Add</button>
    </div>
  </div>

  <div id="game_titles">
    <div style ="margin: 5px; padding:5px; border: 2px solid grey; 
      width: 100%" *ngFor="let t of titles; let i=index; trackBy: trackByIdx">
      <h2>Title</h2>
      <input  placeholder="title" type="text" name="Title" 
        id="list-title" [(ngModel)]='t.title'>
      <h2>Synopsis:</h2>
      <textarea id="list-desc" name="synopsis" rows="4" 
        cols="50" [(ngModel)]='t.desc'></textarea>
      <div id="btn-action" style = "text-align: right;">
        <button id="update-title" style ="margin: 2px;" (click)="doUpdate(i)">Update</button>
        <button id="delete-title" (click)="doDel(i)">Delete</button>
      </div>
    </div>
  </div>
  


