<h1>Please Sign In</h1>
<div style ="margin: 5px; padding:5px; border: 2px solid grey; 
  width: 100%">
  <h2>Email</h2>
  <input  placeholder="e-mail" type="email" 
    name="email" [(ngModel)]="email" id="email" required>
  <h2>Password:</h2>
  <input  placeholder="password" type="password" 
    name="Password" [(ngModel)]="password" id="password" required>
  <div style = "text-align: right;">
    <button id="btn-login" style ="margin: 2px;" (click)="doLogin()">
      Login
    </button>
  </div>
</div>

